.content {
  display: flex;
  flex-direction: row;
  margin: 20px 10px;
  text-decoration: none;
  justify-content: center;
  align-items: flex-start;
  color: rgb(0, 0, 0);
}
.content:hover {
  text-decoration: underline;
  animation: underlining 200ms ease-in-out;
}
@keyframes underlining {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
.img img {
  width: 140px;
  object-fit: cover;
  object-position: center;
  border-radius: 5px;
}
.blog__title {
  margin: 0 20px;
}

@media only screen and (max-width: 600px) {
  .img img {
    width: 100px;
  }
  .content {
    margin: 20px 0px;
  }
  .blog__title {
    font-size: 15px;
  }
}
