.content {
  display: flex;
  flex-direction: row;
  margin: 20px 10px;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  color: rgb(0, 0, 0);
}

.img img {
  width: 140px;
  object-fit: cover;
  object-position: center;
  border-radius: 5px;
}
.blog__title {
  margin: 0 20px;
}

@media only screen and (max-width: 600px) {
  .img img {
    width: 100px;
  }
  .content {
    margin: 20px 0px;
  }
  .blog__title {
    font-size: 15px;
  }
}
