@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;900&family=Nunito:wght@200;400;500;700;800&family=Poppins:wght@100;300;400;500;900&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  font-family: "Nunito", sans-serif;
  margin: 0;
}

html,
body {
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
  width: 100%;
  background-color: #fff;
  height: 100%;
  line-height: 1.3;
}

.container {
  background-color: #171a33;
  margin-left: 130px;
  padding: 10px;
  height: 100vh;
  margin-top: 100px;
}
.opp-container {
  margin-left: 130px;
  padding: 50px 10px;
  background-color: #007d59;
  margin-top: 0;
}
.contacts-container {
  margin-left: 130px;
  padding: 0px 0px;
  background-color: #fff;
  margin-top: 0;
  display: flex;
}

.footer-container {
  margin-left: 130px;
  padding: 50px 10px;
  background-color: #fff;
  margin-top: 0;
  color: #000;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.footer-container > div {
  flex: 30%;
  padding: 10px 30px;
}

.heading-title {
  font-size: 50px;
  color: #fff;
  position: relative;
  left: -77px;
}

.heading-title span {
  color: #171a33;
}
/* */
.opp-container .heading-title {
  font-size: 50px;
  color: #fff;
  position: relative;
  left: -77px;
}

.opp-container .heading-title span {
  color: #007d59;
}
.contacts-container .heading-title {
  font-size: 50px;
  color: #fff;
  position: relative;
  left: -77px;
}

.contacts-container .heading-title span {
  color: #86888a;
}

@media only screen and (max-width: 600px) {
  .mediums {
    width: 100%;
  }
  .contacts-container {
    display: block;
  }
  .container,
  .contacts-container,
  .opp-container,
  .footer-container {
    margin-left: 0;
  }
  .heading-title {
    display: none;
  }
  .opp-container .heading-title {
    left: 0;
    color: #fff;
    display: block;
    font-size: 30px;
  }
  .opp-container .heading-title span {
    color: #fff;
  }
  .footer-container {
    display: block;
  }
}
/* THe blog */
.enjoy {
  padding: 10px;
  color: #abb2be;
  font-size: 40px;
}
.blog {
  display: flex;
  flex-wrap: wrap;
}

.blog > a {
  flex: 45%;
  color: #fff;
  padding-right: 90px;
  font-weight: 100;
}

.blog a img {
  width: 100px;
}
.click {
  margin: 20px 0px;
}
.click a {
  background-color: #171a33;
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
}

/* The blogs */

.search-input {
  padding: 10px;
  border-radius: 5px;
  margin-left: 10px;
  width: 50%;
}
.search-button,
.search-input {
  margin-top: 40px;
  padding: 13px;
  outline: 0;
  border: 0;
  border-radius: 5px;
}

.search-button {
  background-color: #2657d7;
  color: #fff;
}

.next-button,
.prev-button {
  background-color: #2657d7;
  border: 0;
  color: #fff;
  padding: 5px 20px;
  margin: 0 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}

/* The social buttons */
.socials p {
  margin-top: 10px;
  display: flex;
  align-items: flex-start;
}

.socials a img {
  display: inline;
  margin: 0 3px;
  width: 17px;
}

@media only screen and (max-width: 600px) {
  .container {
    height: auto;
  }
  .search-button,
  .search-input,
  .enjoy {
    margin: 0;
    margin-top: 30px;
  }
  .enjoy {
    display: none;
  }
  .search-input {
    width: 65%;
  }
  .blog a {
    padding-right: 0;
    margin: 20px 0;
  }
}
/* The blog */
.blog-container {
  background-color: #171a33;
  margin-left: 130px;
  padding: 10px 100px;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  color: #fff;
  justify-content: center;
}
.blog-container > * {
  width: 50vw;
  margin: 0 auto;
}

.blog-header h1 {
  margin: 0 0 20px 0;
  font-size: 3em;
}
.blog-header small {
  margin: 10px 0;
  display: block;
  font-style: italic;
  /* font-size: 3.5em; */
}

.content-blog {
  padding-right: 120px;
  margin: 20px auto;
}

.content-blog h2 {
  font-size: 2em;
}
.content-blog h3 {
  font-size: 1.5em;
}

.content-blog a {
  color: inherit;
  /* text-decoration: none; */
}

.content-blog > * {
  margin: 10px 0;
}
.content-blog p {
  font-size: 19px;
}

.content-blog ul {
  padding-left: 40px;
}
.content-blog a,
.content-blog p,
.content-blog h2,
.content-blog small,
.content-blog img,
.content-blog ul,
.content-blog ol {
  margin: 10px 0;
}

.content-image img {
  object-fit: cover;
  display: block;
  object-position: center;
  border-radius: 5px;
}

@media only screen and (max-width: 800px) {
  .blog-container {
    margin-left: 0;
    padding: 0;
  }
  .blog-container > * {
    width: 80vw;
    margin: 0 auto;
  }
  .content-blog {
    padding-right: 0;
  }
}

@media only screen and (max-width: 1200px) {
  .blog-container {
    padding: 0;
  }
  .blog-container > * {
    width: 70vw;
    margin: 0 auto;
    padding: 0;
  }
  .content-blog {
    padding-right: 0;
  }
}
@media only screen and (max-width: 600px) {
  .blog-container {
    margin-left: 0;
    padding: 0;
  }
  .blog-container > * {
    width: 90vw;
    margin: 0 auto;
  }
  .content-blog {
    padding-right: 0;
  }

  .blog-header h1 {
    font-size: 2em;
  }

  .content-blog h2 {
    font-size: 1.5em;
  }
}

/* The content ui */

.content_ui img {
  width: 100%;
  object-fit: cover;
  border-radius: 5px;
  margin: 15px 0;
  /* height: 0px; */
}
